/*
** === Insert the layout with mostly CSS-Grid techniques ===
*/

/* —-- Layout the header —-- */
header {
    background: url(../img/cool-background.png) no-repeat;
    background-size: cover;
    padding: 20px;
    display: grid;
    grid-template-columns: [content-start] 1fr [social-media-start] 120px [social-media-end];
    grid-template-rows: minmax(150px, 1fr) minmax(150px, 1fr) 100px;
    grid-template-areas: 
        "headline       social-media"
        "subheadline    social-media"
        "navigation     .           ";
}

header .headline {
    grid-area: headline;
}

header .subheadline {
    grid-area: subheadline;
}

header .navbar {
    grid-area: navigation;
}

header .social-media {
    grid-area: social-media;
}

/* —-- Header: Media Queries —-- */
@media screen and (max-width: 768px) {
    header {
        grid-template-areas: 
        "headline       headline    "
        "subheadline    subheadline "
        "navigation     navigation  "
    }
    header .social-media {
        display: none;
    }
}

/* —-- Navbar —-- */
.navbar--horizontal {
    display: grid;
}

.navbar--horizontal-links {
    background: var(--blue);
    border-radius: 8px;
    color: var(--white);
    display: inline-block;
    font-size: 2rem;
    margin: 10px 20px;
    padding: 10px;
}

.navbar--horizontal > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
}

.navbar--horizontal-links--last {
    grid-column: auto / -1;
}

/* —-- Albums —-- */
.albums {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.album {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.album__artwork {
    width: 100%;
}

.album__details h2,
.album__details p {
    color: white;
    font-size: 16px;
}